# Fichiers d'environnement
.env

# Dossier des CVs
resumes/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
ENV/
env/

# Notebooks Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/
*.swp
*.swo 